In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

### Veri Setinin Upload Edilmesi

In [2]:

df = pd.read_csv('data.csv', low_memory=False)

In [3]:
df

,Unnamed: 0,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,...,Furnishing Status,Unit Exchange,Title Deed Status,From Whom,Pet Friendly Paws Houses,Fiyat,İl,İlçe,Mahalle,Oda
0,0,126,160m²,2,Kombi (Doğalgaz),Müstakil,31-35 arası,Eşyasız,Kiracılı,Evet,...,NaN,NaN,NaN,NaN,NaN,7500000,İstanbul,Adalar,Heybeliada,4 + 1
1,1,375,400m²,NaN,NaN,NaN,NaN,NaN,NaN,Hayır,...,NaN,NaN,NaN,NaN,NaN,15000000,İstanbul,Adalar,Maden,5 + 2
2,2,100,110m²,3,Kombi (Doğalgaz),3,31-35 arası,Sadece Beyaz Eşya,Boş,Evet,...,NaN,NaN,NaN,NaN,NaN,2750000,İstanbul,Adalar,Heybeliada,3 + 1
3,3,170,185m²,3,Kombi (Doğalgaz),3,26-30 arası,Eşyasız,Kiracılı,Evet,...,NaN,NaN,NaN,NaN,NaN,13000000,İstanbul,Adalar,Nizam,3 + 1
4,4,140,160m²,2,Kombi (Doğalgaz),Yüksek Giriş,36-40 arası,Eşyalı (Mobilyalı),Boş,Evet,...,NaN,NaN,NaN,NaN,NaN,9500000,İstanbul,Adalar,Nizam,3 + 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16691,16691,115,125m²,10-20 arası,Kombi (Doğalgaz),11,16-20 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,5200000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1
16692,16692,55,65m²,4,Kombi (Doğalgaz),2,31-35 arası,Eşyasız,NaN,Hayır,...,NaN,NaN,NaN,NaN,NaN,4500000,İstanbul,Zeytinburnu,Sümer,3 + 1
16693,16693,115,125m²,10-20 arası,Kombi (Doğalgaz),4,16-20 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,3250000,İstanbul,Zeytinburnu,Çırpıcı,2 + 1
16694,16694,110,130m²,10-20 arası,Merkezi Sistem,4,31-35 arası,Eşyasız,Mülk Sahibi,Evet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16695,16695,80,90m²,5,NaN,3,21-25 arası,Eşyasız,Kiracılı,Evet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[df["İl"]=="İstanbul"]

In [5]:
df

,Unnamed: 0,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,...,Furnishing Status,Unit Exchange,Title Deed Status,From Whom,Pet Friendly Paws Houses,Fiyat,İl,İlçe,Mahalle,Oda
0,0,126,160m²,2,Kombi (Doğalgaz),Müstakil,31-35 arası,Eşyasız,Kiracılı,Evet,...,NaN,NaN,NaN,NaN,NaN,7500000,İstanbul,Adalar,Heybeliada,4 + 1
1,1,375,400m²,NaN,NaN,NaN,NaN,NaN,NaN,Hayır,...,NaN,NaN,NaN,NaN,NaN,15000000,İstanbul,Adalar,Maden,5 + 2
2,2,100,110m²,3,Kombi (Doğalgaz),3,31-35 arası,Sadece Beyaz Eşya,Boş,Evet,...,NaN,NaN,NaN,NaN,NaN,2750000,İstanbul,Adalar,Heybeliada,3 + 1
3,3,170,185m²,3,Kombi (Doğalgaz),3,26-30 arası,Eşyasız,Kiracılı,Evet,...,NaN,NaN,NaN,NaN,NaN,13000000,İstanbul,Adalar,Nizam,3 + 1
4,4,140,160m²,2,Kombi (Doğalgaz),Yüksek Giriş,36-40 arası,Eşyalı (Mobilyalı),Boş,Evet,...,NaN,NaN,NaN,NaN,NaN,9500000,İstanbul,Adalar,Nizam,3 + 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,16689,115,125m²,10-20 arası,Kombi (Doğalgaz),4,16-20 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,5000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1
16690,16690,90,100m²,5,Kombi (Doğalgaz),3,21-25 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,750000,İstanbul,Zeytinburnu,Telsiz,1 + 1
16691,16691,115,125m²,10-20 arası,Kombi (Doğalgaz),11,16-20 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,5200000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1
16692,16692,55,65m²,4,Kombi (Doğalgaz),2,31-35 arası,Eşyasız,NaN,Hayır,...,NaN,NaN,NaN,NaN,NaN,4500000,İstanbul,Zeytinburnu,Sümer,3 + 1
16693,16693,115,125m²,10-20 arası,Kombi (Doğalgaz),4,16-20 arası,Eşyasız,NaN,Evet,...,NaN,NaN,NaN,NaN,NaN,3250000,İstanbul,Zeytinburnu,Çırpıcı,2 + 1

## Eşik Değer Belirlenmesi
Eşik değer ile veri setinin kolonlarında bu belirlenen eşik değerin altında kalan dummy data'ların threshold (eşik değer) kadar olanı silinir. Örneğin threshold 0.6 için veri setindeki kolonlarda %40'a kadar veri anlamsız veya null olduğu için silinir.

In [6]:
threshold = 0.6
df = df[df.columns[df.isnull().mean() < threshold]]

In [7]:
df

,Unnamed: 0,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,Fiyat,İl,İlçe,Mahalle,Oda
0,0,126,160m²,2,Kombi (Doğalgaz),Müstakil,31-35 arası,Eşyasız,Kiracılı,Evet,7500000,İstanbul,Adalar,Heybeliada,4 + 1
1,1,375,400m²,NaN,NaN,NaN,NaN,NaN,NaN,Hayır,15000000,İstanbul,Adalar,Maden,5 + 2
2,2,100,110m²,3,Kombi (Doğalgaz),3,31-35 arası,Sadece Beyaz Eşya,Boş,Evet,2750000,İstanbul,Adalar,Heybeliada,3 + 1
3,3,170,185m²,3,Kombi (Doğalgaz),3,26-30 arası,Eşyasız,Kiracılı,Evet,13000000,İstanbul,Adalar,Nizam,3 + 1
4,4,140,160m²,2,Kombi (Doğalgaz),Yüksek Giriş,36-40 arası,Eşyalı (Mobilyalı),Boş,Evet,9500000,İstanbul,Adalar,Nizam,3 + 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,16689,115,125m²,10-20 arası,Kombi (Doğalgaz),4,16-20 arası,Eşyasız,NaN,Evet,5000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1
16690,16690,90,100m²,5,Kombi (Doğalgaz),3,21-25 arası,Eşyasız,NaN,Evet,750000,İstanbul,Zeytinburnu,Telsiz,1 + 1
16691,16691,115,125m²,10-20 arası,Kombi (Doğalgaz),11,16-20 arası,Eşyasız,NaN,Evet,5200000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1
16692,16692,55,65m²,4,Kombi (Doğalgaz),2,31-35 arası,Eşyasız,NaN,Hayır,4500000,İstanbul,Zeytinburnu,Sümer,3 + 1
16693,16693,115,125m²,10-20 arası,Kombi (Doğalgaz),4,16-20 arası,Eşyasız,NaN,Evet,3250000,İstanbul,Zeytinburnu,Çırpıcı,2 + 1

In [8]:
df.columns

Index(['Unnamed: 0', 'Net m²', 'Brüt m²', 'Binadaki Kat Sayısı', 'Isıtma Tipi',
       'Bulunduğu Kat', 'Bina Yaşı', 'Mobilya Durumu', 'Kullanım Durumu',
       'Krediye Uygun', 'Fiyat', 'İl', 'İlçe', 'Mahalle', 'Oda'],
      dtype='object')

In [9]:
df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [10]:
df.head()

,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,Fiyat,İl,İlçe,Mahalle,Oda
0,126,160m²,2,Kombi (Doğalgaz),Müstakil,31-35 arası,Eşyasız,Kiracılı,Evet,7500000,İstanbul,Adalar,Heybeliada,4 + 1
1,375,400m²,NaN,NaN,NaN,NaN,NaN,NaN,Hayır,15000000,İstanbul,Adalar,Maden,5 + 2
2,100,110m²,3,Kombi (Doğalgaz),3,31-35 arası,Sadece Beyaz Eşya,Boş,Evet,2750000,İstanbul,Adalar,Heybeliada,3 + 1
3,170,185m²,3,Kombi (Doğalgaz),3,26-30 arası,Eşyasız,Kiracılı,Evet,13000000,İstanbul,Adalar,Nizam,3 + 1
4,140,160m²,2,Kombi (Doğalgaz),Yüksek Giriş,36-40 arası,Eşyalı (Mobilyalı),Boş,Evet,9500000,İstanbul,Adalar,Nizam,3 + 1

In [11]:
df['Brüt m²'] = df['Brüt m²'].replace('m²', '', regex=True)

In [12]:
df["Binadaki Kat Sayısı"].unique()

array(['2', nan, '3', '4', '7', '5', '10-20 arası', '6', '8', '1', '10',
       '20 ve üzeri', '9', '20+', 'Between 10-20'], dtype=object)

In [13]:
df.loc[df["Binadaki Kat Sayısı"] == "10-20 arası" , "Binadaki Kat Sayısı"] = 15
df.loc[df["Binadaki Kat Sayısı"] == "20 ve üzeri" , "Binadaki Kat Sayısı"] = 20

df.loc[df["Binadaki Kat Sayısı"] == "Between 10-20" , "Binadaki Kat Sayısı"] = 15
df.loc[df["Binadaki Kat Sayısı"] == "20+" , "Binadaki Kat Sayısı"] = 20

In [14]:
df["Isıtma Tipi"].unique()

array(['Kombi (Doğalgaz)', nan, 'Kat Kaloriferi', 'Kalorifer (Doğalgaz)',
       'Fancoil', 'Kombi (Elektrikli)', 'Klima',
       'Merkezi Sistem (Isı Payı Ölçer)', 'Yerden Isıtma',
       'Merkezi Sistem', 'Combi Boiler (Natural Gas)',
       'Central System (Heat Share Meter)', 'Soba (Doğalgaz)', 'Yok',
       'Soba (Kömür)', 'Air Conditioner', 'Güneş Enerjisi',
       'Central System', 'Floor Heating', 'Kalorifer (Kömür)',
       'Central Heating (Natural Gas)'], dtype=object)

In [15]:
df.loc[df["Isıtma Tipi"] == "-" , "Isıtma Tipi"] = None
df.loc[df["Isıtma Tipi"] == "Yok" , "Isıtma Tipi"] = None
df.loc[df["Isıtma Tipi"] == "Soba (Doğalgaz)" , "Isıtma Tipi"] = 1
df.loc[df["Isıtma Tipi"] == "Soba (Kömür)" , "Isıtma Tipi"] = 1

df.loc[df["Isıtma Tipi"] == "Merkezi Sistem" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Kat Kaloriferi" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Merkezi Sistem (Isı Payı Ölçer)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Kombi (Doğalgaz)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Kalorifer (Doğalgaz)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Kombi (Elektrikli)" , "Isıtma Tipi"] = 2
#df.loc[df["Isıtma Tipi"] == "Kalorifer (Akaryakıt)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Kalorifer (Kömür)" , "Isıtma Tipi"] = 2

df.loc[df["Isıtma Tipi"] == "Yerden Isıtma" , "Isıtma Tipi"] = 3
df.loc[df["Isıtma Tipi"] == "Güneş Enerjisi" , "Isıtma Tipi"] = 3
#df.loc[df["Isıtma Tipi"] == "Jeotermal" , "Isıtma Tipi"] = 3
df.loc[df["Isıtma Tipi"] == "Klima" , "Isıtma Tipi"] = 3


df.loc[df["Isıtma Tipi"] == "nan" , "Isıtma Tipi"] = None

#df.loc[df["Isıtma Tipi"] == "Stove (Natural Gas)" , "Isıtma Tipi"] = 1
#df.loc[df["Isıtma Tipi"] == "Stove (Coal)" , "Isıtma Tipi"] = 1

df.loc[df["Isıtma Tipi"] == "Central System" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Central Heating (Natural Gas)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Central System (Heat Share Meter)" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Fancoil" , "Isıtma Tipi"] = 2
#df.loc[df["Isıtma Tipi"] == "Independent Boiler" , "Isıtma Tipi"] = 2
df.loc[df["Isıtma Tipi"] == "Combi Boiler (Natural Gas)" , "Isıtma Tipi"] = 2
#df.loc[df["Isıtma Tipi"] == "Combi Boiler (Electric)" , "Isıtma Tipi"] = 2
#df.loc[df["Isıtma Tipi"] == "Central Heating (Coal)" , "Isıtma Tipi"] = 2

df.loc[df["Isıtma Tipi"] == "Floor Heating" , "Isıtma Tipi"] = 3
#df.loc[df["Isıtma Tipi"] == "Solar Power" , "Isıtma Tipi"] = 3
#df.loc[df["Isıtma Tipi"] == "Geothermal" , "Isıtma Tipi"] = 3
df.loc[df["Isıtma Tipi"] == "Air Conditioner" , "Isıtma Tipi"] = 3

In [16]:
df["Isıtma Tipi"].unique()

array([2, nan, 3, 1, None], dtype=object)

Bulunduğu Kat kolonunun altındaki En Üst Kat değerine sahip verileri getirir

In [17]:
df[df["Bulunduğu Kat"] == 'Kot 1']

,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,Fiyat,İl,İlçe,Mahalle,Oda
192,60,70,7,2,Kot 1,6-10 arası,Eşyasız,Boş,Evet,1300000,İstanbul,Ataşehir,Kayışdağı,1 + 1
459,71,84,6,2,Kot 1,21-25 arası,Eşyasız,Kiracılı,Evet,1670000,İstanbul,Ataşehir,İnönü,2 + 1
531,75,85,5,2,Kot 1,11-15 arası,Eşyasız,NaN,Evet,1700000,İstanbul,Ataşehir,İçerenköy,2 + 1
567,80,90,4,2,Kot 1,11-15 arası,Eşyalı (Mobilyalı),Boş,Evet,1500000,İstanbul,Ataşehir,İnönü,2 + 1
649,55,60,5,2,Kot 1,0,NaN,NaN,Hayır,1475000,İstanbul,Avcılar,Gümüşpala,1 + 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15499,80,95,5,2,Kot 1,21-25 arası,Eşyasız,Boş,Hayır,4250000,İstanbul,Ümraniye,Çakmak,4 + 1
15864,95,110,4,2,Kot 1,16-20 arası,NaN,Mülk Sahibi,Evet,2090000,İstanbul,Ümraniye,Necip Fazıl,3 + 1
16198,115,130,4,2,Kot 1,1,NaN,Kiracılı,Hayır,6000000,İstanbul,Üsküdar,Bahçelievler,4 + 1
16263,65,80,4,2,Kot 1,6-10 arası,NaN,Boş,Evet,4750000,İstanbul,Üsküdar,Küçüksu,2 + 1
16350,80,115,5,2,Kot 1,4,Eşyasız,Boş,Evet,2980000,İstanbul,Üsküdar,Bulgurlu,2 + 1

In [18]:
df["Bulunduğu Kat"].unique()

array(['Müstakil', nan, '3', 'Yüksek Giriş', '4', 'Bahçe katı', 'Kot 2',
       'Kot 4', 'Zemin Kat', '1', 'En Üst Kat', '2', 'Giriş Katı', '14',
       'Çatı Katı', '5', '15', '20 ve üzeri', '11', '6', '16', '7', '17',
       '13', '8', '9', 'Kot 1', '10', 'First Floor', '12', '18', '19',
       'Kot 3', 'Teras Kat', 'Komple', 'Bodrum Kat', 'Garden Floor',
       'Detached', 'Basement', 'Raised First Floor'], dtype=object)

*Bu veriler sayesinde Kot 1'de bulunan dairelerin ilanlarına ulaştım ve Kot 1'de bulunan dairelerin ilanlarında geçen dairelerin gerçekte kot 1'de olmadığını farkettim. Bu yüzden Kot 1 değerine sahip sütunları None olarak adlandırdım. Böylelikle Null değerler ile birlikte bu işe yaramayan satırlar da silinmiş oldu.

Yalan ve az veri barındıran bazı diğer 'Bulunduğu Kat' değerleri:* >* Kot 1 >* Kot 2 >* Kot 3 >* Kot 4 >* Müstakil >* Detached >* Elevation 1 >* Elevation 4 >* Raised First Floor >* Komple >* First Floor >* Garden Floor >* Top Floor

In [19]:
df.loc[df["Bulunduğu Kat"]== "Yüksek Giriş", "Bulunduğu Kat"] = 1 #

df.loc[df["Bulunduğu Kat"]== "Bodrum Kat", "Bulunduğu Kat"] = -1 #
df.loc[df["Bulunduğu Kat"]== "Basement", "Bulunduğu Kat"] = -1 #

df.loc[df["Bulunduğu Kat"]== "En Üst Kat", "Bulunduğu Kat"] = df["Binadaki Kat Sayısı"] #
#df.loc[df["Bulunduğu Kat"]== "Top Floor", "Bulunduğu Kat"] = df["Binadaki Kat Sayısı"]
df.loc[df["Bulunduğu Kat"]== "Teras Kat", "Bulunduğu Kat"] = df["Binadaki Kat Sayısı"] #
df.loc[df["Bulunduğu Kat"]== "Çatı Katı", "Bulunduğu Kat"] = df["Binadaki Kat Sayısı"] #

#df.loc[df["Bulunduğu Kat"]== "Ground Floor", "Bulunduğu Kat"] = 0
df.loc[df["Bulunduğu Kat"]== "Zemin Kat", "Bulunduğu Kat"] = 0 #
df.loc[df["Bulunduğu Kat"]== "Bahçe katı", "Bulunduğu Kat"] = 0 #
df.loc[df["Bulunduğu Kat"]== "Garden Floor", "Bulunduğu Kat"] = 0 #
df.loc[df["Bulunduğu Kat"]== "Giriş Katı", "Bulunduğu Kat"] = 0 #
df.loc[df["Bulunduğu Kat"]== "Raised First Floor", "Bulunduğu Kat"] = 0 #
df.loc[df["Bulunduğu Kat"]== "First Floor", "Bulunduğu Kat"] = 0 #

df.loc[df["Bulunduğu Kat"]== "20 ve üzeri", "Bulunduğu Kat"] = 20 #

df.loc[df["Bulunduğu Kat"]== "Kot 1", "Bulunduğu Kat"] = None #
df.loc[df["Bulunduğu Kat"]== "Kot 2", "Bulunduğu Kat"] = None #
df.loc[df["Bulunduğu Kat"]== "Kot 3", "Bulunduğu Kat"] = None #
df.loc[df["Bulunduğu Kat"]== "Kot 4", "Bulunduğu Kat"] = None #
df.loc[df["Bulunduğu Kat"]== "Müstakil", "Bulunduğu Kat"] = None #
df.loc[df["Bulunduğu Kat"]== "Detached", "Bulunduğu Kat"] = None #
#df.loc[df["Bulunduğu Kat"]== "Elevation 1", "Bulunduğu Kat"] = None
#df.loc[df["Bulunduğu Kat"]== "Elevation 4", "Bulunduğu Kat"] = None
df.loc[df["Bulunduğu Kat"]== "Komple", "Bulunduğu Kat"] = None #

In [20]:
df["Bulunduğu Kat"].unique()

array([None, nan, '3', 1, '4', 0, '1', '2', '14', '5', '15', 20, '11',
       '6', '16', '7', '17', '13', '8', '9', '10', '12', '18', '19', -1,
       15], dtype=object)

Bina Yaşı kolonunun altında bulunan satırlardaki yinelemeyen / benzersiz veriler elde edilip bu kolonun altındaki veriler düzenlenir.

In [21]:
df["Bina Yaşı"].unique()

array(['31-35 arası', nan, '26-30 arası', '36-40 arası', '0',
       '21-25 arası', '6-10 arası', '40 ve üzeri', '16-20 arası', '4',
       '1', '11-15 arası', '5', '2', '3', 'Between 26-30',
       'Between 11-15', 'Between 6-10', 'Between 21-25', 'Between 16-20',
       'Between 36-40', 'Between 31-35', '40+'], dtype=object)

In [22]:
df.loc[df["Bina Yaşı"] == "6-10 arası" , "Bina Yaşı"] = 8 #
df.loc[df["Bina Yaşı"] == "11-15 arası" , "Bina Yaşı"] = 13 #
df.loc[df["Bina Yaşı"] == "16-20 arası" , "Bina Yaşı"] = 18 #
df.loc[df["Bina Yaşı"] == "21-25 arası" , "Bina Yaşı"] = 23 #
df.loc[df["Bina Yaşı"] == "26-30 arası" , "Bina Yaşı"] = 28 #
df.loc[df["Bina Yaşı"] == "31-35 arası" , "Bina Yaşı"] = 33 #
df.loc[df["Bina Yaşı"] == "36-40 arası" , "Bina Yaşı"] = 38 #
df.loc[df["Bina Yaşı"] == "40 ve üzeri" , "Bina Yaşı"] = 43 #

df.loc[df["Bina Yaşı"] == "Between 6-10" , "Bina Yaşı"] = 8 #
df.loc[df["Bina Yaşı"] == "Between 11-15" , "Bina Yaşı"] = 13 #
df.loc[df["Bina Yaşı"] == "Between 16-20" , "Bina Yaşı"] = 18 #
df.loc[df["Bina Yaşı"] == "Between 21-25" , "Bina Yaşı"] = 23 #
df.loc[df["Bina Yaşı"] == "Between 26-30" , "Bina Yaşı"] = 28 #
df.loc[df["Bina Yaşı"] == "Between 31-35" , "Bina Yaşı"] = 33 #
df.loc[df["Bina Yaşı"] == "Between 36-40" , "Bina Yaşı"] = 38 #
df.loc[df["Bina Yaşı"] == "40+" , "Bina Yaşı"] = 43 #

In [23]:
df["Bina Yaşı"].unique()

array([33, nan, 28, 38, '0', 23, 8, 43, 18, '4', '1', 13, '5', '2', '3'],
      dtype=object)

Mobilya Durumu kolonunun altında bulunan satırlardaki yinelemeyen / benzersiz veriler elde edilip bu kolonun altındaki veriler düzenlenir.

In [24]:
df["Mobilya Durumu"].unique()

array(['Eşyasız', nan, 'Sadece Beyaz Eşya', 'Eşyalı (Mobilyalı)',
       'Sadece Mutfak', 'Unfurnished', 'Only Major Appliances',
       'Furnished'], dtype=object)

In [25]:
df.loc[df["Mobilya Durumu"] == "Eşyasız" , "Mobilya Durumu"] = 0
df.loc[df["Mobilya Durumu"] == "Eşyalı (Mobilyalı)" , "Mobilya Durumu"] = 1
df.loc[df["Mobilya Durumu"] == "Sadece Beyaz Eşya" , "Mobilya Durumu"] = 2
df.loc[df["Mobilya Durumu"] == "Sadece Mutfak" , "Mobilya Durumu"] = 3

df.loc[df["Mobilya Durumu"] == "Unfurnished" , "Mobilya Durumu"] = 0
df.loc[df["Mobilya Durumu"] == "Furnished" , "Mobilya Durumu"] = 1
df.loc[df["Mobilya Durumu"] == "Only Major Appliances" , "Mobilya Durumu"] = 2
#df.loc[df["Mobilya Durumu"] == "Kitchen Only" , "Mobilya Durumu"] = 3

In [26]:
df["Mobilya Durumu"].unique()

array([0, nan, 2, 1, 3], dtype=object)

Kullanım Durumu kolonunun altında bulunan satırlardaki yinelemeyen / benzersiz veriler elde edilip bu kolonun altındaki veriler düzenlenir.

In [27]:
df["Kullanım Durumu"].unique()

array(['Kiracılı', nan, 'Boş', 'Mülk Sahibi', 'Occupied By Tenant',
       'Vacant', 'Occupied By Property Owner'], dtype=object)

In [28]:
df.loc[df["Kullanım Durumu"] == "Boş" , "Kullanım Durumu"] = 0 
df.loc[df["Kullanım Durumu"] == "Mülk Sahibi" , "Kullanım Durumu"] = 1
df.loc[df["Kullanım Durumu"] == "Kiracılı" , "Kullanım Durumu"] = 2

df.loc[df["Kullanım Durumu"] == "Vacant" , "Kullanım Durumu"] = 0 
df.loc[df["Kullanım Durumu"] == "Occupied By Property Owner" , "Kullanım Durumu"] = 1
df.loc[df["Kullanım Durumu"] == "Occupied By Tenant" , "Kullanım Durumu"] = 2

In [29]:
df["Kullanım Durumu"].unique()

array([2, nan, 0, 1], dtype=object)

Krediye Uygun kolonunun altında bulunan satırlardaki yinelemeyen / benzersiz veriler elde edilip bu kolonun altındaki veriler düzenlenir.

In [30]:
df["Krediye Uygun"].unique()

array(['Evet', 'Hayır', 'Yes', nan], dtype=object)

In [31]:
df.loc[df["Krediye Uygun"] == "Evet" , "Krediye Uygun"] = 1
df.loc[df["Krediye Uygun"] == "Yes" , "Krediye Uygun"] = 1
df.loc[df["Krediye Uygun"] == "Hayır" , "Krediye Uygun"] = 0

Oda kolonunun altında bulunan satırlardaki yinelemeyen / benzersiz veriler elde edilip bu kolonun altındaki veriler düzenlenir. Bu kolonun altındaki veriler bize bilgi vermesi için aynı kalmalıdır fakat makine öğrenmesinde kullanıma uygun olabilmesi için toplam_oda_sayisi adında yeni bir kolon açılır ve buraya toplam oda sayısı yazılır.

In [32]:
df["Oda"].unique()

array([' 4 + 1 ', ' 5 + 2 ', ' 3 + 1 ', ' 2 + 1 ', ' 1 + 1 ', ' 2 + 2 ',
       ' 4 + 2 ', ' 3 + 2 ', ' 6 + 2 ', ' 5 + 1 ', ' 7 + 2 ', ' 2 + 0 ',
       ' 1 + 0 ', ' 10 ve üzeri ', ' 6 + 1 ', 'Evet', ' 7 + 1 ',
       ' 4 + 3 ', 'Hayır', ' 6 + 3 ', ' 8 + 2 ', ' 8 + 1 ', ' 5 + 3 ',
       ' 7 + 3 ', ' 5 + 4 ', ' 8 + 4 '], dtype=object)

In [33]:
df.loc[df["Oda"] == " 3 + 1 " , "toplam_oda_sayisi"] = 4 #
df.loc[df["Oda"] == " 2 + 1 " , "toplam_oda_sayisi"] = 3 #
df.loc[df["Oda"] == " 4 + 1 " , "toplam_oda_sayisi"] = 5 #
df.loc[df["Oda"] == " 1 + 1 " , "toplam_oda_sayisi"] = 2 #
df.loc[df["Oda"] == " 5 + 1 " , "toplam_oda_sayisi"] = 6 #
df.loc[df["Oda"] == " 4 + 2 " , "toplam_oda_sayisi"] = 6 #
df.loc[df["Oda"] == " 5 + 2 " , "toplam_oda_sayisi"] = 7 #
df.loc[df["Oda"] == " 6 + 1 " , "toplam_oda_sayisi"] = 7 #
df.loc[df["Oda"] == " 2 + 0 " , "toplam_oda_sayisi"] = 2 #
df.loc[df["Oda"] == " 3 + 2 " , "toplam_oda_sayisi"] = 5 #
df.loc[df["Oda"] == " 6 + 2 " , "toplam_oda_sayisi"] = 8 #
df.loc[df["Oda"] == " 1 + 0 " , "toplam_oda_sayisi"] = 1 #
df.loc[df["Oda"] == " 2 + 2 " , "toplam_oda_sayisi"] = 4 #
df.loc[df["Oda"] == " 7 + 1 " , "toplam_oda_sayisi"] = 8 #
df.loc[df["Oda"] == " 7 + 2 " , "toplam_oda_sayisi"] = 9 #
df.loc[df["Oda"] == " 4 + 3 " , "toplam_oda_sayisi"] = 7 #
df.loc[df["Oda"] == " 10 ve üzeri " , "toplam_oda_sayisi"] = 11 #
df.loc[df["Oda"] == " 8 + 1 " , "toplam_oda_sayisi"] = 9 #
#df.loc[df["Oda"] == " 4 + 4 " , "toplam_oda_sayisi"] = 8
df.loc[df["Oda"] == " 6 + 3 " , "toplam_oda_sayisi"] = 9 #
#df.loc[df["Oda"] == " 9 + 2 " , "toplam_oda_sayisi"] = 10
df.loc[df["Oda"] == " 8 + 2 " , "toplam_oda_sayisi"] = 10 #
#df.loc[df["Oda"] == " 9 + 3 " , "toplam_oda_sayisi"] = 10
#df.loc[df["Oda"] == " 9 + 1 " , "toplam_oda_sayisi"] = 10
#df.loc[df["Oda"] == " 8 + 3 " , "toplam_oda_sayisi"] = 10
df.loc[df["Oda"] == " 7 + 3 " , "toplam_oda_sayisi"] = 10 #
df.loc[df["Oda"] == " 5 + 3 " , "toplam_oda_sayisi"] = 8 #
df.loc[df["Oda"] == " 5 + 4 " , "toplam_oda_sayisi"] = 9 #
df.loc[df["Oda"] == " 8 + 4 " , "toplam_oda_sayisi"] = 12 #
df.loc[df["Oda"] == "Evet" , "toplam_oda_sayisi"] = None
df.loc[df["Oda"] == "Hayır" , "toplam_oda_sayisi"] = None

In [34]:
df["toplam_oda_sayisi"].unique()

array([ 5.,  7.,  4.,  3.,  2.,  6.,  8.,  9.,  1., 11., nan, 10., 12.])

In [35]:
df

,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,Fiyat,İl,İlçe,Mahalle,Oda,toplam_oda_sayisi
0,126,160,2,2,None,33,0,2,1,7500000,İstanbul,Adalar,Heybeliada,4 + 1,5.0
1,375,400,NaN,NaN,NaN,NaN,NaN,NaN,0,15000000,İstanbul,Adalar,Maden,5 + 2,7.0
2,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Adalar,Heybeliada,3 + 1,4.0
3,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Adalar,Nizam,3 + 1,4.0
4,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Adalar,Nizam,3 + 1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,115,125,15,2,4,18,0,NaN,1,5000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4.0
16690,90,100,5,2,3,23,0,NaN,1,750000,İstanbul,Zeytinburnu,Telsiz,1 + 1,2.0
16691,115,125,15,2,11,18,0,NaN,1,5200000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4.0
16692,55,65,4,2,2,33,0,NaN,0,4500000,İstanbul,Zeytinburnu,Sümer,3 + 1,4.0
16693,115,125,15,2,4,18,0,NaN,1,3250000,İstanbul,Zeytinburnu,Çırpıcı,2 + 1,3.0

## Null Verilerin Silinmesi

In [36]:
df = df.dropna()

In [37]:
df.isnull().sum()

Net m²                 0
Brüt m²                0
Binadaki Kat Sayısı    0
Isıtma Tipi            0
Bulunduğu Kat          0
Bina Yaşı              0
Mobilya Durumu         0
Kullanım Durumu        0
Krediye Uygun          0
Fiyat                  0
İl                     0
İlçe                   0
Mahalle                0
Oda                    0
toplam_oda_sayisi      0
dtype: int64

## Sayısal Verilerin Numeric Veriye Dönüştürülmesi

In [38]:
df.loc[df["Fiyat"] == "1625000TRY" , "Fiyat" ] = "1625000"

In [39]:
df[["Net m²","Brüt m²","Binadaki Kat Sayısı","Bulunduğu Kat","Isıtma Tipi","Bina Yaşı","Fiyat","Krediye Uygun","toplam_oda_sayisi","Mobilya Durumu","Kullanım Durumu"]] = df[["Net m²","Brüt m²","Binadaki Kat Sayısı","Bulunduğu Kat","Isıtma Tipi","Bina Yaşı","Fiyat","Krediye Uygun","toplam_oda_sayisi", "Mobilya Durumu", "Kullanım Durumu"]].apply(pd.to_numeric)

In [40]:
df.loc[879]

Net m²                      100
Brüt m²                     110
Binadaki Kat Sayısı           5
Isıtma Tipi                   2
Bulunduğu Kat                 0
Bina Yaşı                     0
Mobilya Durumu                0
Kullanım Durumu               0
Krediye Uygun                 1
Fiyat                   2400000
İl                     İstanbul
İlçe                    Avcılar
Mahalle                Cihangir
Oda                      2 + 1
toplam_oda_sayisi           3.0
Name: 879, dtype: object

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10029 entries, 2 to 16685
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Net m²               10029 non-null  int64
 1   Brüt m²              10029 non-null  int64
 2   Binadaki Kat Sayısı  10029 non-null  int64
 3   Isıtma Tipi          10029 non-null  int64
 4   Bulunduğu Kat        10029 non-null  int64
 5   Bina Yaşı            10029 non-null  int64
 6   Mobilya Durumu       10029 non-null  int64
 7   Kullanım Durumu      10029 non-null  int64
 8   Krediye Uygun        10029 non-null  int64
 9   Fiyat                10029 non-null  int64
 10  İl                   10029 non-null  object
 11  İlçe                 10029 non-null  object
 12  Mahalle              10029 non-null  object
 13  Oda                  10029 non-null  object
 14  toplam_oda_sayisi    10029 non-null  float64
dtypes: float64(1), int64(10), object(4)
memory usage: 1.5+ MB

In [42]:
df["Mobilya Durumu"].unique()

array([2, 0, 1, 3], dtype=int64)

In [43]:
df = df.dropna()

In [44]:
df.toplam_oda_sayisi = df.toplam_oda_sayisi.astype(int)

In [45]:
df

,Net m²,Brüt m²,Binadaki Kat Sayısı,Isıtma Tipi,Bulunduğu Kat,Bina Yaşı,Mobilya Durumu,Kullanım Durumu,Krediye Uygun,Fiyat,İl,İlçe,Mahalle,Oda,toplam_oda_sayisi
2,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Adalar,Heybeliada,3 + 1,4
3,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Adalar,Nizam,3 + 1,4
4,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Adalar,Nizam,3 + 1,4
5,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Adalar,Heybeliada,4 + 1,5
6,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Adalar,Heybeliada,3 + 1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16676,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Zeytinburnu,Telsiz,3 + 1,4
16677,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Zeytinburnu,Çırpıcı,3 + 1,4
16678,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Zeytinburnu,Telsiz,4 + 2,6
16680,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Zeytinburnu,Kazlıçeşme,3 + 1,4
16685,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4

In [46]:
df.columns = ['net_alan', 'brut_alan', 'kredi_durumu','kat_sayisi', 'isitma', 'bulundugu_kat' ,'bina_yasi', 'esya', 'kullanim_durumu','fiyat','il','ilce','mahalle','oda_sayisi','toplam_oda_sayisi']

In [47]:
df

,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi
2,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Adalar,Heybeliada,3 + 1,4
3,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Adalar,Nizam,3 + 1,4
4,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Adalar,Nizam,3 + 1,4
5,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Adalar,Heybeliada,4 + 1,5
6,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Adalar,Heybeliada,3 + 1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16676,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Zeytinburnu,Telsiz,3 + 1,4
16677,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Zeytinburnu,Çırpıcı,3 + 1,4
16678,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Zeytinburnu,Telsiz,4 + 2,6
16680,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Zeytinburnu,Kazlıçeşme,3 + 1,4
16685,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4

In [48]:
df = df.reset_index(drop=True)

## KONUM

In [49]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="MyApp")
from IPython.display import clear_output
from time import sleep

In [50]:
df_coord = pd.DataFrame()
df["il_ilce"] = df["il"] + " " + df["ilce"]

In [51]:
unique = df["il_ilce"].unique() #verisetindeki adresler alındı
len(unique)

39

Konum bilgileri geopy kütüphanesiyle adres bilgilerini kullanarak elde edildi ve listeye aktarıldı.

In [52]:
lat = []
lng = []
for i in range(len(unique)):
    location = geolocator.geocode(unique[i])
    lat.append(location.latitude)
    lng.append(location.longitude)
    print(str(i+1) + " adet konum bilgisi listeye aktarıldı.")
    clear_output(wait=True)
    if((i+1)%100==0):   #too many request hatası almamak için 100 işlemde bir duraklama
        sleep(30)

39 adet konum bilgisi listeye aktarıldı.

Konum DataFrame'i Adres, lat ve lng verileri kullanılarak oluşturuldu.

In [53]:
df_coord = pd.DataFrame()
df_coord["il_ilce"] = pd.Series(unique)
df_coord["lat"] = pd.Series(lat)
df_coord["lng"] = pd.Series(lng)

In [54]:
#df_coord = df_coord.dropna()

In [55]:
df_coord

                   il_ilce        lat        lng
0          İstanbul Adalar  40.874166  29.129325
1      İstanbul Arnavutköy  41.067177  29.043271
2        İstanbul Ataşehir  40.992938  29.113519
3         İstanbul Avcılar  40.979939  28.721669
4        İstanbul Bağcılar  41.034547  28.856756
5    İstanbul Bahçelievler  41.018145  28.484357
6        İstanbul Güngören  41.025279  28.872691
7      İstanbul Beylikdüzü  41.003754  28.637258
8           İstanbul Şişli  41.063789  28.983164
9      İstanbul Sancaktepe  40.990520  29.228862
10       İstanbul Ümraniye  41.025636  29.096305
11       İstanbul Beşiktaş  41.042847  29.007528
12       İstanbul Esenyurt  41.034286  28.680111
13        İstanbul Sarıyer  41.168580  29.057262
14         İstanbul Pendik  40.876872  29.234967
15          İstanbul Fatih  41.009198  28.966219
16   İstanbul Büyükçekmece  41.021654  28.579757
17     İstanbul Eyüpsultan  41.047836  28.932738
18     İstanbul Başakşehir  41.107579  28.795071
19        İstanbul Beyoğlu  41.028423  28.973681
20         İstanbul Kartal  40.888580  29.185654
21     İstanbul Sultangazi  41.104334  28.861437
22    İstanbul Sultanbeyli  40.967024  29.267131
23        İstanbul Kadıköy  40.990992  29.025430
24       İstanbul Çekmeköy  41.035158  29.173915
25        İstanbul Maltepe  40.924754  29.131078
26          İstanbul Tuzla  40.816173  29.303419
27      İstanbul Kağıthane  41.081209  28.973015
28    İstanbul Zeytinburnu  40.989865  28.903747
29        İstanbul Üsküdar  41.026550  29.015132
30   İstanbul Küçükçekmece  40.991874  28.771196
31       İstanbul Bakırköy  40.978259  28.874446
32        İstanbul Silivri  41.074248  28.248171
33     İstanbul Bayrampaşa  41.034555  28.911842
34         İstanbul Beykoz  41.117698  29.098211
35        İstanbul Çatalca  41.143680  28.460515
36        İstanbul Esenler  41.037618  28.882452
37  İstanbul Gaziosmanpaşa  41.057806  28.912291
38           İstanbul Şile  41.174407  29.612522

In [56]:
df

,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,il_ilce
0,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Adalar,Heybeliada,3 + 1,4,İstanbul Adalar
1,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Adalar,Nizam,3 + 1,4,İstanbul Adalar
2,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Adalar,Nizam,3 + 1,4,İstanbul Adalar
3,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Adalar,Heybeliada,4 + 1,5,İstanbul Adalar
4,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Adalar,Heybeliada,3 + 1,4,İstanbul Adalar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Zeytinburnu,Telsiz,3 + 1,4,İstanbul Zeytinburnu
10025,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Zeytinburnu,Çırpıcı,3 + 1,4,İstanbul Zeytinburnu
10026,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Zeytinburnu,Telsiz,4 + 2,6,İstanbul Zeytinburnu
10027,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Zeytinburnu,Kazlıçeşme,3 + 1,4,İstanbul Zeytinburnu
10028,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4,İstanbul Zeytinburnu

In [57]:
#df.drop(['oda_sayisi'], axis=1, inplace = True)

In [58]:
# df["il_ilce"] = df["il"] + " " + df["ilce"]

In [59]:
# df

In [60]:
df[df["ilce"] == 'Zeytinburnu']

,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,il_ilce
1355,57,87,15,2,14,8,3,2,1,4300000,İstanbul,Zeytinburnu,Maltepe,2 + 1,3,İstanbul Zeytinburnu
1408,87,130,5,2,0,28,0,2,1,1180000,İstanbul,Zeytinburnu,Merkezefendi,2 + 1,3,İstanbul Zeytinburnu
9942,90,100,4,3,2,0,0,0,1,1925000,İstanbul,Zeytinburnu,Gökalp,2 + 1,3,İstanbul Zeytinburnu
9943,85,98,5,2,4,28,0,2,1,4300000,İstanbul,Zeytinburnu,Maltepe,2 + 1,3,İstanbul Zeytinburnu
9944,57,87,15,2,14,8,3,2,1,1500000,İstanbul,Zeytinburnu,Yenidoğan,2 + 1,3,İstanbul Zeytinburnu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Zeytinburnu,Telsiz,3 + 1,4,İstanbul Zeytinburnu
10025,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Zeytinburnu,Çırpıcı,3 + 1,4,İstanbul Zeytinburnu
10026,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Zeytinburnu,Telsiz,4 + 2,6,İstanbul Zeytinburnu
10027,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Zeytinburnu,Kazlıçeşme,3 + 1,4,İstanbul Zeytinburnu
10028,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Zeytinburnu,Seyitnizam,3 + 1,4,İstanbul Zeytinburnu

In [61]:
df= df.merge(df_coord, how="inner", on="il_ilce")
df.drop(["il_ilce"],axis = 1, inplace= True)

In [62]:
df

,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Adalar,Heybeliada,3 + 1,4,40.874166,29.129325
1,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Adalar,Nizam,3 + 1,4,40.874166,29.129325
2,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Adalar,Nizam,3 + 1,4,40.874166,29.129325
3,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Adalar,Heybeliada,4 + 1,5,40.874166,29.129325
4,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Adalar,Heybeliada,3 + 1,4,40.874166,29.129325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,114,125,3,2,1,8,1,0,1,1575000,İstanbul,Şile,Çavuş,2 + 1,3,41.174407,29.612522
10025,85,95,4,2,4,23,0,2,1,1575000,İstanbul,Şile,Çavuş,2 + 1,3,41.174407,29.612522
10026,85,95,4,2,4,23,0,2,1,1980000,İstanbul,Şile,Balibey,2 + 1,3,41.174407,29.612522
10027,85,90,4,2,2,18,0,0,0,4500000,İstanbul,Şile,Çavuş,3 + 2,5,41.174407,29.612522
10028,160,170,4,2,3,0,0,0,0,2595000,İstanbul,Şile,Çayırbaşı,3 + 1,4,41.174407,29.612522

In [63]:
#df.to_csv("pdata.csv")

In [64]:
df[df["ilce"] == 'Fatih']

,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
5060,70,80,4,2,3,38,0,1,1,3200000,İstanbul,Fatih,Cibali,2 + 1,3,41.009198,28.966219
5061,150,185,5,2,3,38,0,0,1,7750000,İstanbul,Fatih,Akşemsettin,4 + 1,5,41.009198,28.966219
5062,70,80,4,2,3,38,0,1,1,3200000,İstanbul,Fatih,Cibali,2 + 1,3,41.009198,28.966219
5063,150,185,5,2,3,38,0,0,1,7750000,İstanbul,Fatih,Akşemsettin,4 + 1,5,41.009198,28.966219
5064,100,115,5,2,4,43,0,1,1,2550000,İstanbul,Fatih,Seyyid Ömer,2 + 1,3,41.009198,28.966219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,90,100,4,2,1,33,1,2,1,2100000,İstanbul,Fatih,Topkapı,2 + 1,3,41.009198,28.966219
5168,80,90,4,2,1,33,0,0,1,2400000,İstanbul,Fatih,Şehremini,2 + 1,3,41.009198,28.966219
5169,80,90,4,2,1,33,0,0,1,2450000,İstanbul,Fatih,Şehremini,2 + 1,3,41.009198,28.966219
5170,80,85,4,2,1,33,0,0,1,2350000,İstanbul,Fatih,Seyyid Ömer,2 + 1,3,41.009198,28.966219
5171,78,94,4,2,0,33,0,2,1,1300000,İstanbul,Fatih,Mevlanakapı,2 + 1,3,41.009198,28.966219

In [65]:
eko_df = pd.read_csv('eko_df.csv')
eko_df.drop(['Unnamed: 0'],axis=1, inplace= True)
eko_df

    cluster_A  cluster_B  cluster_C           ilce
0           0          1          0         Adalar
1           0          0          1     Arnavutköy
2           1          0          0       Ataşehir
3           0          1          0        Avcılar
4           0          0          1       Bağcılar
5           0          1          0   Bahçelievler
6           1          0          0       Bakırköy
7           0          1          0     Başakşehir
8           0          1          0     Bayrampaşa
9           1          0          0       Beşiktaş
10          0          1          0         Beykoz
11          0          1          0     Beylikdüzü
12          1          0          0        Beyoğlu
13          0          1          0   Büyükçekmece
14          0          0          1        Çatalca
15          0          1          0       Çekmeköy
16          0          0          1        Esenler
17          0          0          1       Esenyurt
18          0          1          0     Eyüpsultan
19          1          0          0          Fatih
20          0          0          1  Gaziosmanpaşa
21          0          0          1       Güngören
22          1          0          0        Kadıköy
23          0          1          0      Kağıthane
24          0          1          0         Kartal
25          0          1          0   Küçükçekmece
26          0          1          0        Maltepe
27          0          1          0         Pendik
28          0          1          0     Sancaktepe
29          1          0          0        Sarıyer
30          0          0          1        Silivri
31          0          0          1    Sultanbeyli
32          0          0          1     Sultangazi
33          0          0          1           Şile
34          1          0          0          Şişli
35          0          1          0          Tuzla
36          0          1          0       Ümraniye
37          1          0          0        Üsküdar
38          0          1          0    Zeytinburnu

In [66]:
#eko_df = eko_df.rename(columns={'Ilce': 'ilce'})

In [67]:
eko_df

    cluster_A  cluster_B  cluster_C           ilce
0           0          1          0         Adalar
1           0          0          1     Arnavutköy
2           1          0          0       Ataşehir
3           0          1          0        Avcılar
4           0          0          1       Bağcılar
5           0          1          0   Bahçelievler
6           1          0          0       Bakırköy
7           0          1          0     Başakşehir
8           0          1          0     Bayrampaşa
9           1          0          0       Beşiktaş
10          0          1          0         Beykoz
11          0          1          0     Beylikdüzü
12          1          0          0        Beyoğlu
13          0          1          0   Büyükçekmece
14          0          0          1        Çatalca
15          0          1          0       Çekmeköy
16          0          0          1        Esenler
17          0          0          1       Esenyurt
18          0          1          0     Eyüpsultan
19          1          0          0          Fatih
20          0          0          1  Gaziosmanpaşa
21          0          0          1       Güngören
22          1          0          0        Kadıköy
23          0          1          0      Kağıthane
24          0          1          0         Kartal
25          0          1          0   Küçükçekmece
26          0          1          0        Maltepe
27          0          1          0         Pendik
28          0          1          0     Sancaktepe
29          1          0          0        Sarıyer
30          0          0          1        Silivri
31          0          0          1    Sultanbeyli
32          0          0          1     Sultangazi
33          0          0          1           Şile
34          1          0          0          Şişli
35          0          1          0          Tuzla
36          0          1          0       Ümraniye
37          1          0          0        Üsküdar
38          0          1          0    Zeytinburnu

In [68]:
sorted(df.ilce.unique())

['Adalar',
 'Arnavutköy',
 'Ataşehir',
 'Avcılar',
 'Bahçelievler',
 'Bakırköy',
 'Bayrampaşa',
 'Bağcılar',
 'Başakşehir',
 'Beykoz',
 'Beylikdüzü',
 'Beyoğlu',
 'Beşiktaş',
 'Büyükçekmece',
 'Esenler',
 'Esenyurt',
 'Eyüpsultan',
 'Fatih',
 'Gaziosmanpaşa',
 'Güngören',
 'Kadıköy',
 'Kartal',
 'Kağıthane',
 'Küçükçekmece',
 'Maltepe',
 'Pendik',
 'Sancaktepe',
 'Sarıyer',
 'Silivri',
 'Sultanbeyli',
 'Sultangazi',
 'Tuzla',
 'Zeytinburnu',
 'Çatalca',
 'Çekmeköy',
 'Ümraniye',
 'Üsküdar',
 'Şile',
 'Şişli']

In [69]:
# merged_df = df.merge(eko_df, how="inner", on="ilce")
merged_df= pd.merge(eko_df,df, how="inner", on="ilce")
merged_df

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,0,1,0,Adalar,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
1,0,1,0,Adalar,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
2,0,1,0,Adalar,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
3,0,1,0,Adalar,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325
4,0,1,0,Adalar,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,Zeytinburnu,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Telsiz,3 + 1,4,40.989865,28.903747
10025,0,1,0,Zeytinburnu,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Çırpıcı,3 + 1,4,40.989865,28.903747
10026,0,1,0,Zeytinburnu,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Telsiz,4 + 2,6,40.989865,28.903747
10027,0,1,0,Zeytinburnu,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Kazlıçeşme,3 + 1,4,40.989865,28.903747
10028,0,1,0,Zeytinburnu,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Seyitnizam,3 + 1,4,40.989865,28.903747

In [70]:
# merged_df.drop(['Unnamed: 0'],axis=1, inplace= True)

In [71]:
merged_df

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,0,1,0,Adalar,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
1,0,1,0,Adalar,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
2,0,1,0,Adalar,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
3,0,1,0,Adalar,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325
4,0,1,0,Adalar,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,Zeytinburnu,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Telsiz,3 + 1,4,40.989865,28.903747
10025,0,1,0,Zeytinburnu,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Çırpıcı,3 + 1,4,40.989865,28.903747
10026,0,1,0,Zeytinburnu,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Telsiz,4 + 2,6,40.989865,28.903747
10027,0,1,0,Zeytinburnu,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Kazlıçeşme,3 + 1,4,40.989865,28.903747
10028,0,1,0,Zeytinburnu,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Seyitnizam,3 + 1,4,40.989865,28.903747

In [72]:
#merged_df[merged_df["cluster_A"] == 1]

In [73]:
merged_df[merged_df["ilce"] == 'Fatih']

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
4852,1,0,0,Fatih,70,80,4,2,3,38,0,1,1,3200000,İstanbul,Cibali,2 + 1,3,41.009198,28.966219
4853,1,0,0,Fatih,150,185,5,2,3,38,0,0,1,7750000,İstanbul,Akşemsettin,4 + 1,5,41.009198,28.966219
4854,1,0,0,Fatih,70,80,4,2,3,38,0,1,1,3200000,İstanbul,Cibali,2 + 1,3,41.009198,28.966219
4855,1,0,0,Fatih,150,185,5,2,3,38,0,0,1,7750000,İstanbul,Akşemsettin,4 + 1,5,41.009198,28.966219
4856,1,0,0,Fatih,100,115,5,2,4,43,0,1,1,2550000,İstanbul,Seyyid Ömer,2 + 1,3,41.009198,28.966219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,1,0,0,Fatih,90,100,4,2,1,33,1,2,1,2100000,İstanbul,Topkapı,2 + 1,3,41.009198,28.966219
4960,1,0,0,Fatih,80,90,4,2,1,33,0,0,1,2400000,İstanbul,Şehremini,2 + 1,3,41.009198,28.966219
4961,1,0,0,Fatih,80,90,4,2,1,33,0,0,1,2450000,İstanbul,Şehremini,2 + 1,3,41.009198,28.966219
4962,1,0,0,Fatih,80,85,4,2,1,33,0,0,1,2350000,İstanbul,Seyyid Ömer,2 + 1,3,41.009198,28.966219
4963,1,0,0,Fatih,78,94,4,2,0,33,0,2,1,1300000,İstanbul,Mevlanakapı,2 + 1,3,41.009198,28.966219

In [74]:
#merged_df[merged_df["cluster_B"] == 1]

In [75]:
#merged_df[merged_df["cluster_C"] == 1]

In [76]:
#cluster_C = merged_df[merged_df["cluster_C"] == 1][['fiyat']]

In [77]:
#cluster_C.describe()

In [78]:
#cluster_B = merged_df[merged_df["cluster_B"] == 1][['fiyat']]
#cluster_B.describe()

In [79]:
#cluster_A = merged_df[merged_df["cluster_A"] == 1][['fiyat']]
#cluster_A.describe()

In [80]:
merged_df

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,0,1,0,Adalar,100,110,3,2,3,33,2,0,1,2750000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
1,0,1,0,Adalar,170,185,3,2,3,28,0,2,1,13000000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
2,0,1,0,Adalar,140,160,2,2,1,38,1,0,1,9500000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325
3,0,1,0,Adalar,219,220,3,2,3,0,0,0,1,10000000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325
4,0,1,0,Adalar,105,137,4,2,3,33,0,0,1,3900000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,Zeytinburnu,85,94,15,2,13,0,0,0,1,3200000,İstanbul,Telsiz,3 + 1,4,40.989865,28.903747
10025,0,1,0,Zeytinburnu,105,115,3,2,2,13,0,1,1,4850000,İstanbul,Çırpıcı,3 + 1,4,40.989865,28.903747
10026,0,1,0,Zeytinburnu,115,125,4,2,3,13,0,1,0,7500000,İstanbul,Telsiz,4 + 2,6,40.989865,28.903747
10027,0,1,0,Zeytinburnu,180,200,4,2,4,5,0,1,0,34000000,İstanbul,Kazlıçeşme,3 + 1,4,40.989865,28.903747
10028,0,1,0,Zeytinburnu,109,212,8,2,8,1,0,0,1,12000000,İstanbul,Seyitnizam,3 + 1,4,40.989865,28.903747

In [81]:
merged_df['konum'] = merged_df.apply(lambda row: ', '.join([str(row['lat']), str(row['lng'])]), axis=1)

In [82]:
#merged_df.drop(['lat','lng'],axis=1, inplace= True)

In [83]:
merged_df

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,...,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng,konum
0,0,1,0,Adalar,100,110,3,2,3,33,...,0,1,2750000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
1,0,1,0,Adalar,170,185,3,2,3,28,...,2,1,13000000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
2,0,1,0,Adalar,140,160,2,2,1,38,...,0,1,9500000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
3,0,1,0,Adalar,219,220,3,2,3,0,...,0,1,10000000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325,"40.8741659, 29.1293251"
4,0,1,0,Adalar,105,137,4,2,3,33,...,0,1,3900000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,Zeytinburnu,85,94,15,2,13,0,...,0,1,3200000,İstanbul,Telsiz,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10025,0,1,0,Zeytinburnu,105,115,3,2,2,13,...,1,1,4850000,İstanbul,Çırpıcı,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10026,0,1,0,Zeytinburnu,115,125,4,2,3,13,...,1,0,7500000,İstanbul,Telsiz,4 + 2,6,40.989865,28.903747,"40.9898653, 28.9037467"
10027,0,1,0,Zeytinburnu,180,200,4,2,4,5,...,1,0,34000000,İstanbul,Kazlıçeşme,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10028,0,1,0,Zeytinburnu,109,212,8,2,8,1,...,0,1,12000000,İstanbul,Seyitnizam,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"

In [84]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10029 entries, 0 to 10028
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cluster_A          10029 non-null  int64
 1   cluster_B          10029 non-null  int64
 2   cluster_C          10029 non-null  int64
 3   ilce               10029 non-null  object
 4   net_alan           10029 non-null  int64
 5   brut_alan          10029 non-null  int64
 6   kredi_durumu       10029 non-null  int64
 7   kat_sayisi         10029 non-null  int64
 8   isitma             10029 non-null  int64
 9   bulundugu_kat      10029 non-null  int64
 10  bina_yasi          10029 non-null  int64
 11  esya               10029 non-null  int64
 12  kullanim_durumu    10029 non-null  int64
 13  fiyat              10029 non-null  int64
 14  il                 10029 non-null  object
 15  mahalle            10029 non-null  object
 16  oda_sayisi         10029 non-null  object
 17  toplam_oda_sayisi  10029 non-null  int32
 18  lat                10029 non-null  float64
 19  lng                10029 non-null  float64
 20  konum              10029 non-null  object
dtypes: float64(2), int32(1), int64(13), object(5)
memory usage: 1.6+ MB

In [85]:
# merged_df.to_csv("merged_data.csv")

In [86]:
duplicated_rows = merged_df.duplicated(keep=False)
merged_df[duplicated_rows]

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,...,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng,konum
5,0,1,0,Adalar,152,198,4,2,4,33,...,0,1,4500000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325,"40.8741659, 29.1293251"
16,0,1,0,Adalar,152,198,4,2,4,33,...,0,1,4500000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325,"40.8741659, 29.1293251"
17,0,0,1,Arnavutköy,121,142,5,3,2,0,...,0,1,3125000,İstanbul,Hastane,3 + 1,4,41.067177,29.043271,"41.0671774, 29.0432713"
52,0,0,1,Arnavutköy,121,142,5,3,2,0,...,0,1,3125000,İstanbul,Hastane,3 + 1,4,41.067177,29.043271,"41.0671774, 29.0432713"
53,1,0,0,Ataşehir,115,125,15,2,15,28,...,0,1,3500000,İstanbul,İçerenköy,3 + 1,4,40.992938,29.113519,"40.9929379, 29.1135187"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9405,0,1,0,Ümraniye,109,194,20,2,1,0,...,0,1,7627000,İstanbul,Tantavi,1 + 1,2,41.025636,29.096305,"41.0256362, 29.0963049"
9407,0,1,0,Ümraniye,109,194,20,2,1,0,...,0,1,7623000,İstanbul,Tantavi,2 + 1,3,41.025636,29.096305,"41.0256362, 29.0963049"
9408,0,1,0,Ümraniye,109,194,20,2,1,0,...,0,1,7623000,İstanbul,Tantavi,2 + 1,3,41.025636,29.096305,"41.0256362, 29.0963049"
9409,0,1,0,Ümraniye,109,194,20,2,1,0,...,0,1,7623000,İstanbul,Tantavi,2 + 1,3,41.025636,29.096305,"41.0256362, 29.0963049"
9410,0,1,0,Ümraniye,109,194,20,2,1,0,...,0,1,7623000,İstanbul,Tantavi,2 + 1,3,41.025636,29.096305,"41.0256362, 29.0963049"

In [87]:
merged_df = merged_df.drop_duplicates()

In [88]:
merged_df

,cluster_A,cluster_B,cluster_C,ilce,net_alan,brut_alan,kredi_durumu,kat_sayisi,isitma,bulundugu_kat,...,esya,kullanim_durumu,fiyat,il,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng,konum
0,0,1,0,Adalar,100,110,3,2,3,33,...,0,1,2750000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
1,0,1,0,Adalar,170,185,3,2,3,28,...,2,1,13000000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
2,0,1,0,Adalar,140,160,2,2,1,38,...,0,1,9500000,İstanbul,Nizam,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
3,0,1,0,Adalar,219,220,3,2,3,0,...,0,1,10000000,İstanbul,Heybeliada,4 + 1,5,40.874166,29.129325,"40.8741659, 29.1293251"
4,0,1,0,Adalar,105,137,4,2,3,33,...,0,1,3900000,İstanbul,Heybeliada,3 + 1,4,40.874166,29.129325,"40.8741659, 29.1293251"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,Zeytinburnu,85,94,15,2,13,0,...,0,1,3200000,İstanbul,Telsiz,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10025,0,1,0,Zeytinburnu,105,115,3,2,2,13,...,1,1,4850000,İstanbul,Çırpıcı,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10026,0,1,0,Zeytinburnu,115,125,4,2,3,13,...,1,0,7500000,İstanbul,Telsiz,4 + 2,6,40.989865,28.903747,"40.9898653, 28.9037467"
10027,0,1,0,Zeytinburnu,180,200,4,2,4,5,...,1,0,34000000,İstanbul,Kazlıçeşme,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"
10028,0,1,0,Zeytinburnu,109,212,8,2,8,1,...,0,1,12000000,İstanbul,Seyitnizam,3 + 1,4,40.989865,28.903747,"40.9898653, 28.9037467"

In [89]:
duplicated_rowss = merged_df.duplicated(keep=False)
merged_df[duplicated_rowss]
# Tekrarlanan veri kalmadı

Empty DataFrame
Columns: [cluster_A, cluster_B, cluster_C, ilce, net_alan, brut_alan, kredi_durumu, kat_sayisi, isitma, bulundugu_kat, bina_yasi, esya, kullanim_durumu, fiyat, il, mahalle, oda_sayisi, toplam_oda_sayisi, lat, lng, konum]
Index: []

[0 rows x 21 columns]

In [90]:
df_coord

                   il_ilce        lat        lng
0          İstanbul Adalar  40.874166  29.129325
1      İstanbul Arnavutköy  41.067177  29.043271
2        İstanbul Ataşehir  40.992938  29.113519
3         İstanbul Avcılar  40.979939  28.721669
4        İstanbul Bağcılar  41.034547  28.856756
5    İstanbul Bahçelievler  41.018145  28.484357
6        İstanbul Güngören  41.025279  28.872691
7      İstanbul Beylikdüzü  41.003754  28.637258
8           İstanbul Şişli  41.063789  28.983164
9      İstanbul Sancaktepe  40.990520  29.228862
10       İstanbul Ümraniye  41.025636  29.096305
11       İstanbul Beşiktaş  41.042847  29.007528
12       İstanbul Esenyurt  41.034286  28.680111
13        İstanbul Sarıyer  41.168580  29.057262
14         İstanbul Pendik  40.876872  29.234967
15          İstanbul Fatih  41.009198  28.966219
16   İstanbul Büyükçekmece  41.021654  28.579757
17     İstanbul Eyüpsultan  41.047836  28.932738
18     İstanbul Başakşehir  41.107579  28.795071
19        İstanbul Beyoğlu  41.028423  28.973681
20         İstanbul Kartal  40.888580  29.185654
21     İstanbul Sultangazi  41.104334  28.861437
22    İstanbul Sultanbeyli  40.967024  29.267131
23        İstanbul Kadıköy  40.990992  29.025430
24       İstanbul Çekmeköy  41.035158  29.173915
25        İstanbul Maltepe  40.924754  29.131078
26          İstanbul Tuzla  40.816173  29.303419
27      İstanbul Kağıthane  41.081209  28.973015
28    İstanbul Zeytinburnu  40.989865  28.903747
29        İstanbul Üsküdar  41.026550  29.015132
30   İstanbul Küçükçekmece  40.991874  28.771196
31       İstanbul Bakırköy  40.978259  28.874446
32        İstanbul Silivri  41.074248  28.248171
33     İstanbul Bayrampaşa  41.034555  28.911842
34         İstanbul Beykoz  41.117698  29.098211
35        İstanbul Çatalca  41.143680  28.460515
36        İstanbul Esenler  41.037618  28.882452
37  İstanbul Gaziosmanpaşa  41.057806  28.912291
38           İstanbul Şile  41.174407  29.612522

In [91]:
len(df_coord['lat'].unique())

39

In [92]:
len(df_coord['lng'].unique())

39

In [93]:
df_coord['il_ilce'] = df_coord['il_ilce'].str.replace('İstanbul ', '')

In [94]:
df_coord

          il_ilce        lat        lng
0          Adalar  40.874166  29.129325
1      Arnavutköy  41.067177  29.043271
2        Ataşehir  40.992938  29.113519
3         Avcılar  40.979939  28.721669
4        Bağcılar  41.034547  28.856756
5    Bahçelievler  41.018145  28.484357
6        Güngören  41.025279  28.872691
7      Beylikdüzü  41.003754  28.637258
8           Şişli  41.063789  28.983164
9      Sancaktepe  40.990520  29.228862
10       Ümraniye  41.025636  29.096305
11       Beşiktaş  41.042847  29.007528
12       Esenyurt  41.034286  28.680111
13        Sarıyer  41.168580  29.057262
14         Pendik  40.876872  29.234967
15          Fatih  41.009198  28.966219
16   Büyükçekmece  41.021654  28.579757
17     Eyüpsultan  41.047836  28.932738
18     Başakşehir  41.107579  28.795071
19        Beyoğlu  41.028423  28.973681
20         Kartal  40.888580  29.185654
21     Sultangazi  41.104334  28.861437
22    Sultanbeyli  40.967024  29.267131
23        Kadıköy  40.990992  29.025430
24       Çekmeköy  41.035158  29.173915
25        Maltepe  40.924754  29.131078
26          Tuzla  40.816173  29.303419
27      Kağıthane  41.081209  28.973015
28    Zeytinburnu  40.989865  28.903747
29        Üsküdar  41.026550  29.015132
30   Küçükçekmece  40.991874  28.771196
31       Bakırköy  40.978259  28.874446
32        Silivri  41.074248  28.248171
33     Bayrampaşa  41.034555  28.911842
34         Beykoz  41.117698  29.098211
35        Çatalca  41.143680  28.460515
36        Esenler  41.037618  28.882452
37  Gaziosmanpaşa  41.057806  28.912291
38           Şile  41.174407  29.612522

In [95]:
df_coord = df_coord.rename(columns={'il_ilce': 'ilce'})

In [96]:
df_coord

             ilce        lat        lng
0          Adalar  40.874166  29.129325
1      Arnavutköy  41.067177  29.043271
2        Ataşehir  40.992938  29.113519
3         Avcılar  40.979939  28.721669
4        Bağcılar  41.034547  28.856756
5    Bahçelievler  41.018145  28.484357
6        Güngören  41.025279  28.872691
7      Beylikdüzü  41.003754  28.637258
8           Şişli  41.063789  28.983164
9      Sancaktepe  40.990520  29.228862
10       Ümraniye  41.025636  29.096305
11       Beşiktaş  41.042847  29.007528
12       Esenyurt  41.034286  28.680111
13        Sarıyer  41.168580  29.057262
14         Pendik  40.876872  29.234967
15          Fatih  41.009198  28.966219
16   Büyükçekmece  41.021654  28.579757
17     Eyüpsultan  41.047836  28.932738
18     Başakşehir  41.107579  28.795071
19        Beyoğlu  41.028423  28.973681
20         Kartal  40.888580  29.185654
21     Sultangazi  41.104334  28.861437
22    Sultanbeyli  40.967024  29.267131
23        Kadıköy  40.990992  29.025430
24       Çekmeköy  41.035158  29.173915
25        Maltepe  40.924754  29.131078
26          Tuzla  40.816173  29.303419
27      Kağıthane  41.081209  28.973015
28    Zeytinburnu  40.989865  28.903747
29        Üsküdar  41.026550  29.015132
30   Küçükçekmece  40.991874  28.771196
31       Bakırköy  40.978259  28.874446
32        Silivri  41.074248  28.248171
33     Bayrampaşa  41.034555  28.911842
34         Beykoz  41.117698  29.098211
35        Çatalca  41.143680  28.460515
36        Esenler  41.037618  28.882452
37  Gaziosmanpaşa  41.057806  28.912291
38           Şile  41.174407  29.612522

In [97]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9712 entries, 0 to 10028
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cluster_A          9712 non-null   int64
 1   cluster_B          9712 non-null   int64
 2   cluster_C          9712 non-null   int64
 3   ilce               9712 non-null   object
 4   net_alan           9712 non-null   int64
 5   brut_alan          9712 non-null   int64
 6   kredi_durumu       9712 non-null   int64
 7   kat_sayisi         9712 non-null   int64
 8   isitma             9712 non-null   int64
 9   bulundugu_kat      9712 non-null   int64
 10  bina_yasi          9712 non-null   int64
 11  esya               9712 non-null   int64
 12  kullanim_durumu    9712 non-null   int64
 13  fiyat              9712 non-null   int64
 14  il                 9712 non-null   object
 15  mahalle            9712 non-null   object
 16  oda_sayisi         9712 non-null   object
 17  toplam_oda_sayisi  9712 non-null   int32
 18  lat                9712 non-null   float64
 19  lng                9712 non-null   float64
 20  konum              9712 non-null   object
dtypes: float64(2), int32(1), int64(13), object(5)
memory usage: 1.6+ MB

In [98]:
new_column_order = ['cluster_A','cluster_B','cluster_C','il','ilce','mahalle','fiyat','net_alan', 'brut_alan','bina_yasi','kat_sayisi','bulundugu_kat','oda_sayisi','toplam_oda_sayisi','isitma','esya','kullanim_durumu','kredi_durumu','lat','lng','konum']

In [99]:
merged_df = merged_df.reindex(columns=new_column_order)

In [100]:
merged_df

,cluster_A,cluster_B,cluster_C,il,ilce,mahalle,fiyat,net_alan,brut_alan,bina_yasi,...,bulundugu_kat,oda_sayisi,toplam_oda_sayisi,isitma,esya,kullanim_durumu,kredi_durumu,lat,lng,konum
0,0,1,0,İstanbul,Adalar,Heybeliada,2750000,100,110,2,...,33,3 + 1,4,3,0,1,3,40.874166,29.129325,"40.8741659, 29.1293251"
1,0,1,0,İstanbul,Adalar,Nizam,13000000,170,185,0,...,28,3 + 1,4,3,2,1,3,40.874166,29.129325,"40.8741659, 29.1293251"
2,0,1,0,İstanbul,Adalar,Nizam,9500000,140,160,1,...,38,3 + 1,4,1,0,1,2,40.874166,29.129325,"40.8741659, 29.1293251"
3,0,1,0,İstanbul,Adalar,Heybeliada,10000000,219,220,0,...,0,4 + 1,5,3,0,1,3,40.874166,29.129325,"40.8741659, 29.1293251"
4,0,1,0,İstanbul,Adalar,Heybeliada,3900000,105,137,0,...,33,3 + 1,4,3,0,1,4,40.874166,29.129325,"40.8741659, 29.1293251"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10024,0,1,0,İstanbul,Zeytinburnu,Telsiz,3200000,85,94,0,...,0,3 + 1,4,13,0,1,15,40.989865,28.903747,"40.9898653, 28.9037467"
10025,0,1,0,İstanbul,Zeytinburnu,Çırpıcı,4850000,105,115,0,...,13,3 + 1,4,2,1,1,3,40.989865,28.903747,"40.9898653, 28.9037467"
10026,0,1,0,İstanbul,Zeytinburnu,Telsiz,7500000,115,125,0,...,13,4 + 2,6,3,1,0,4,40.989865,28.903747,"40.9898653, 28.9037467"
10027,0,1,0,İstanbul,Zeytinburnu,Kazlıçeşme,34000000,180,200,0,...,5,3 + 1,4,4,1,0,4,40.989865,28.903747,"40.9898653, 28.9037467"
10028,0,1,0,İstanbul,Zeytinburnu,Seyitnizam,12000000,109,212,0,...,1,3 + 1,4,8,0,1,8,40.989865,28.903747,"40.9898653, 28.9037467"

In [101]:
merged_df.to_csv("merged_data.csv")

In [106]:
merged_df[merged_df["cluster_C"] == 1]

,cluster_A,cluster_B,cluster_C,il,ilce,mahalle,fiyat,net_alan,brut_alan,bina_yasi,...,bulundugu_kat,oda_sayisi,toplam_oda_sayisi,isitma,esya,kullanim_durumu,kredi_durumu,lat,lng,konum
17,0,0,1,İstanbul,Arnavutköy,Hastane,3125000,121,142,0,...,0,3 + 1,4,2,0,1,5,41.067177,29.043271,"41.0671774, 29.0432713"
18,0,0,1,İstanbul,Arnavutköy,Haraççı,3500000,180,190,0,...,1,4 + 2,6,4,1,1,4,41.067177,29.043271,"41.0671774, 29.0432713"
19,0,0,1,İstanbul,Arnavutköy,Hadımköy,2250000,90,115,2,...,8,2 + 1,3,14,0,0,15,41.067177,29.043271,"41.0671774, 29.0432713"
20,0,0,1,İstanbul,Arnavutköy,Hadımköy,1700000,85,95,0,...,0,2 + 1,3,1,0,1,3,41.067177,29.043271,"41.0671774, 29.0432713"
21,0,0,1,İstanbul,Arnavutköy,Hadımköy,1100000,57,65,0,...,0,1 + 1,2,0,0,1,3,41.067177,29.043271,"41.0671774, 29.0432713"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8863,0,0,1,İstanbul,Şile,Çavuş,1575000,114,125,1,...,8,2 + 1,3,1,0,1,3,41.174407,29.612522,"41.1744067, 29.6125216"
8864,0,0,1,İstanbul,Şile,Çavuş,1575000,85,95,0,...,23,2 + 1,3,4,2,1,4,41.174407,29.612522,"41.1744067, 29.6125216"
8865,0,0,1,İstanbul,Şile,Balibey,1980000,85,95,0,...,23,2 + 1,3,4,2,1,4,41.174407,29.612522,"41.1744067, 29.6125216"
8866,0,0,1,İstanbul,Şile,Çavuş,4500000,85,90,0,...,18,3 + 2,5,2,0,0,4,41.174407,29.612522,"41.1744067, 29.6125216"
8867,0,0,1,İstanbul,Şile,Çayırbaşı,2595000,160,170,0,...,0,3 + 1,4,3,0,0,4,41.174407,29.612522,"41.1744067, 29.6125216"

In [103]:
cluster_B = merged_df[merged_df["cluster_B"] == 1][['fiyat']]
cluster_B.describe()

              fiyat
count  5.741000e+03
mean   3.454223e+06
std    3.243478e+06
min    2.000000e+04
25%    1.800000e+06
50%    2.600000e+06
75%    3.900000e+06
max    6.500000e+07

In [107]:
cluster_A = merged_df[merged_df["cluster_A"] == 1][['fiyat']]
cluster_A.describe()

              fiyat
count  2.110000e+03
mean   1.023188e+07
std    1.215143e+07
min    1.450000e+04
25%    3.850000e+06
50%    6.712000e+06
75%    1.150000e+07
max    1.160000e+08

In [108]:
cluster_C = merged_df[merged_df["cluster_C"] == 1][['fiyat']]
cluster_C.describe()

              fiyat
count  1.861000e+03
mean   2.078349e+06
std    1.463553e+06
min    2.750000e+03
25%    1.250000e+06
50%    1.700000e+06
75%    2.500000e+06
max    2.300000e+07

In [110]:
merged_df.to_csv("../Model/df.csv")